--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchaudio
whisperx @ git+https://github.com/m-bain/whisperx.git

gradio
librosa
soundfile

presidio-analyzer
presidio-anonymizer
spacy>=3.7.0,<3.9.0
